Options +FollowSymlinks
RewriteEngine on
# rediriger les requêtes /id vers le fichier usagers.php
RewriteRule ^usagers/([0-9]+)/?$ patient/usagers.php/$1 [L]
# rediriger les requêtes vers le fichier usagers.php
RewriteRule ^usagers/?$ patient/usagers.php [L]