Options +FollowSymlinks
RewriteEngine on

### USAGERS/PATIENTS ###
# rediriger /usagers/id vers le fichier usagers.php
RewriteRule API_AppMed/usagers/([0-9]+)/?$ /API_AppMed/usagers.php/$1 [L]
# rediriger /usagers vers le fichier usagers.php
RewriteRule API_AppMed/usagers/?$ /API_AppMed/usagers.php [L]

### CONSULTATIONS ###
# rediriger /consultations/id vers le fichier consultations.php
RewriteRule API_AppMed/consultations/([0-9]+)/?$ /API_AppMed/consultations.php/$1 [L]
# rediriger /consultations vers le fichier consultations.php
RewriteRule API_AppMed/consultations/?$ /API_AppMed/consultations.php [L]

### STATISTIQUES ###
# rediriger /stats/medecins vers le fichier stats_medecins.php
RewriteRule API_AppMed/stats/medecins/?$ /API_AppMed/stats_medecin.php [L]
# rediriger /stats/usagers vers le fichier stats_usagers.php
RewriteRule API_AppMed/stats/usagers/?$ /API_AppMed/stats_usagers.php [L]